@model TpFinalWeb3.Alumno

@{
    ViewBag.Title = "ResponderPregunta";
    Layout = "/Views/Shared/_AlumnosLayout.cshtml";

}

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script src="//cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>


<h2>ResponderPregunta</h2>

    <form action="/Alumno/GuardarRespuesta" method="post">

        <div class="alert alert-dismissible alert-primary">
            <p>Nro pregunta: @ViewBag.Pregunta.Nro - @ViewBag.Pregunta.Clase.Nombre - Tema: @ViewBag.Pregunta.Tema.Nombre</br>
            Disponible hasta: @ViewBag.Pregunta.FechaDisponibleHasta</p>
            <h3> @ViewBag.Pregunta.Pregunta1 </h3>
            <input type="hidden" name="idPregunta" value="@ViewBag.Pregunta.IdPregunta" />
        </div>
        <textarea name="RespuestaAlumno" id="RespuestaAlumno" required></textarea>
        <br />
        <button type="submit" class="btn btn-success">Enviar respuesta</button> </a>
                <a href="/Alumno/VerPreguntasAlumno/@Model.IdAlumno"><button type="button" class="btn btn-danger">Cancelar</button> </a>

    </form>

    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('RespuestaAlumno');
    </script>
