@model TpFinalWeb3.Alumno

@{
    ViewBag.Title = "AlumnoIndex";
    Layout = "/Views/Shared/_AlumnosLayout.cshtml";
}
<h2>Preguntas</h2>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/Alumno/VerPreguntasFiltroTodas/@Model.IdAlumno">Todas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Alumno/VerPreguntaFiltroSinCorregir/@Model.IdAlumno">Sin Corregir</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Alumno/VerPreguntaFiltroCorrecta/@Model.IdAlumno">Correctas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Alumno/VerPreguntaFiltroRegular/@Model.IdAlumno">Regular</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Alumno/VerPreguntaFiltroMal/@Model.IdAlumno">Mal</a>
            </li>
        </ul>
    </div>
</nav><br />

      
      <table class="table table-hover">
          <tr class="table-dark">
              <td>Clase</td>
              <td>Tema</td>
              <td>Pregunta</td>
              <td>Tiempo</td>
              <td>Responder</td>
          </tr>
              @foreach (Pregunta preg in ViewBag.FiltroPreguntasSinResponder)
              {
                  <tr class="table-info">
                      <td>@preg.Clase.Nombre</td>
                      <td>@preg.Tema.Nombre</td>
                      <td>@preg.Pregunta1</td>

                      @if (preg.FechaDisponibleHasta < DateTime.Now) //HAY QUE CAMBIAR EL < POR >.
                      {
                          <td>@preg.FechaDisponibleHasta</td>
                          <td><a href="/Alumno/ResponderPregunta/@preg.IdPregunta"><button type="button" class="btn btn-primary">Responder</button></a></td>
                      }
                      else
                      {
                          <td>Ya se terminó el tiempo para responder! :( </td>
                          <td><button type="button" class="btn btn-primary disabled">Responder</button></td>
                      }
                  </tr>
              }
        </table>



      <table class="table table-secondary">
          <tr class="table-dark">
              <td>Clase</td>
              <td>Tema</td>
              <td>Pregunta</td>
              <td>Corrección</td>
              <td>Respuesta</td>
          </tr>

          @foreach (RespuestaAlumno item3 in ViewBag.FiltroRespuestaS)
          {
           <tr class="table-secondary">
              <td>@item3.Pregunta.Clase.Nombre</td>
              <td>@item3.Pregunta.Tema.Nombre</td>
              <td>@item3.Pregunta.Pregunta1</td>
              <td>Pendiente</td>
              <td><a href="/Alumno/VerRespuesta/item3.IdRespuestaAlumno"><button type="button" class="badge badge-primary">Ver</button></a></td>
           </tr>
          }
      </table>



      <table class="table table-secondary">
          <tr class="table-dark">
              <td>Clase</td>
              <td>Tema</td>
              <td>Pregunta</td>
              <td>Órden</td>
              <td>Puntos</td>
              <td>Corrección</td>
              <td>Respuesta</td>
          </tr>
          @foreach (RespuestaAlumno item in ViewBag.FiltroRespuestaC)
          {
            <tr class="table-success">
              <td>@item.Pregunta.Clase.Nombre</td>
              <td>@item.Pregunta.Tema.Nombre</td>
              <td>@item.Pregunta.Pregunta1</td>
              <td>@item.Orden °</td>
              <td>@item.Puntos</td>
              <td>@item.ResultadoEvaluacion.Resultado

                      @if (item.MejorRespuesta == true)
                      {
                          <h4 class="text-success">★</h4>
                      }
                      </td>
              <td><a href="/Alumno/VerRespuesta/@item.IdRespuestaAlumno"><button type="button" class="badge badge-primary">Ver</button></a></td>

            </tr>
              }
          </table>


      <table class="table table-hover">
          <tr class="table-dark">
              <td>Clase</td>
              <td>Tema</td>
              <td>Pregunta</td>
              <td>Órden</td>
              <td>Puntos</td>
              <td>Corrección</td>
              <td>Respuesta</td>
          </tr>
          @foreach (RespuestaAlumno item4 in ViewBag.FiltroRespuestaR)
          {
              <tr class="table-warning">
                  <td>@item4.Pregunta.Clase.Nombre</td>
                  <td>@item4.Pregunta.Tema.Nombre</td>
                  <td>@item4.Pregunta.Pregunta1 </td>
                  <td>@item4.Orden °</td>
                  <td>@item4.Puntos</td>
                  <td>@item4.ResultadoEvaluacion.Resultado
                      @if (item4.MejorRespuesta == true)
                       {
                          <h4 class="text-success">★</h4>
                       }</td>
                  <td><a href="/Alumno/VerRespuesta/@item4.IdRespuestaAlumno"><button type="button" class="badge badge-primary">Ver</button></a></td>

              </tr>
          }
      </table>

      <table class="table table-hover">
          <tr class="table-dark">
              <td>Clase</td>
              <td>Tema</td>
              <td>Pregunta</td>
              <td>Órden</td>
              <td>Puntos</td>
              <td>Corrección</td>
              <td>Respuesta</td>
          </tr>

          @foreach (RespuestaAlumno item2 in ViewBag.FiltroRespuestaM)
          {
              <tr class="table-danger">
                  <td>@item2.Pregunta.Clase.Nombre</td>
                  <td>@item2.Pregunta.Tema.Nombre</td>
                  <td>@item2.Pregunta.Pregunta1 </td>
                  <td>@item2.Orden °</td>
                  <td>@item2.Puntos</td>
                  <td>@item2.ResultadoEvaluacion.Resultado</td>
                  <td><a href="/Alumno/VerRespuesta/@item2.IdRespuestaAlumno"><button type="button" class="badge badge-primary">Ver</button></a></td>

              </tr>

          }
          </table>




          @Html.Partial("pv_Footer")
