@model TpFinalWeb3.Alumno

@{
    ViewBag.Title = "Ver preguntas";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TpFinal 3</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/Login/AlumnoIndex/@Model.IdAlumno">Inicio</a></li>
            <li><a href="/Alumno/VerPreguntasAlumno/@Model.IdAlumno">Preguntas</a></li>
            <li><a href="/Alumno/AcercaDe">Acerca De</a></li>
            <li><a href="#">Salir</a></li>
        </ul>
    </div>
</nav>

<a href="/Alumno/VerPreguntaFiltroCorrecta/@Model.IdAlumno">Correctas</a>
<a href="/Alumno/VerPreguntaFiltroRegular/@Model.IdAlumno">Regulares</a>
<a href="/Alumno/VerPreguntaFiltroMal/@Model.IdAlumno">Mal</a>
<a href="/Alumno/VerPreguntaFiltroSinCorregir/@Model.IdAlumno">Sin corregir</a>

<h2>Preguntas</h2>
<h4>
    Recordá que cuanto antes respondas correctamente, más chances tenes de sumar un mejor puntaje,
    y si tu respuesta es la más completa, vas a recibir un puntaje extra!
</h4>


@foreach (RespuestaAlumno item in ViewBag.FiltroRespuesta)
{
    <p>N° pregunta: @item.Pregunta.Nro, @item.Pregunta.Clase.Nombre, Tema: @item.Pregunta.Tema.Nombre </p>
    <p>Pregunta: @item.Pregunta.Pregunta1 </p>
    <p>Respuesta: @item.Respuesta </p>
    <p>Órden: @item.Orden</p>

    if (item.IdResultadoEvaluacion != null)
    {
        <p> Correción: @item.ResultadoEvaluacion.Resultado </p> <br /><br />
    }
    else
    {
        <p> Correción pendiente </p> <br /><br />
    }


}



@Html.Partial("pv_Footer")