@model TpFinalWeb3.Alumno

@{
    ViewBag.Title = "AlumnoIndex";
    Layout = "/Views/Shared/_AlumnosLayout.cshtml";
}
<h2>Preguntas</h2>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/Alumno/VerPreguntasFiltroTodas/@Model.IdAlumno">Todas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Alumno/VerPreguntaFiltroSinCorregir/@Model.IdAlumno">Sin Corregir</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Alumno/VerPreguntaFiltroCorrecta/@Model.IdAlumno">Correctas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Alumno/VerPreguntaFiltroRegular/@Model.IdAlumno">Regular</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Alumno/VerPreguntaFiltroMal/@Model.IdAlumno">Mal</a>
            </li>
        </ul>
    </div>
</nav><br />

      <table class="table table-hover">
          <tr class="table-dark">
              <td>N° </td>
              <td>Clase</td>
              <td>Tema</td>
              <td>Pregunta</td>
              <td>Órden </td>
              <td>Puntos</td>
              <td>Corrección</td>
              @foreach (RespuestaAlumno item in ViewBag.FiltroRespuesta)
              {

              <tr>

                  <td>@item.Pregunta.Nro</td>
                  <td>@item.Pregunta.Clase.Nombre</td>
                  <td>@item.Pregunta.Tema.Nombre</td>
                  <td>@item.Pregunta.Pregunta1</td>
                  <td>@item.Orden</td>
                  <td>@item.Puntos</td>

                  @if (item.IdResultadoEvaluacion != null)
                  {
                      <td>
                          @item.ResultadoEvaluacion.Resultado <a href="/Alumno/VerRespuesta/@item.IdRespuestaAlumno">
                          <button type="button" class="badge badge-info">Ver</button>
                      </a>
                  </td>
              }
              else
              {
                  <td>Pendiente
                      <a href="/Alumno/VerRespuesta/@item.IdRespuestaAlumno">
                          <button type="button" class="badge badge-info">Ver</button>
                      </a>
                  </td>
              }

                  @if (item.MejorRespuesta == true)
                  {
                      <td><h4 class="text-success">★</h4></td>
                  }
              </tr>

          }
          </table>



          @Html.Partial("pv_Footer")
