@model TpFinalWeb3.Alumno

@{
    ViewBag.Title = "ResponderPregunta";
    Layout = "/Views/Shared/_AlumnosLayout.cshtml";

}

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script src="//cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>


<h3>Ver respuesta</h3>

<div class="alert alert-dismissible alert-primary">
    <p>
        Nro pregunta: @ViewBag.Respuesta.Pregunta.Nro - @ViewBag.Respuesta.Pregunta.Clase.Nombre - Tema: @ViewBag.Respuesta.Pregunta.Tema.Nombre
    </p>
    <h3> @ViewBag.Respuesta.Pregunta.Pregunta1 </h3>


    @if (@ViewBag.Respuesta.IdResultadoEvaluacion == null)
    {
        <span class="badge badge-secondary">Corrección pendiente</span>
    }
    else
    {
        <div>
            <p> Corrección: @ViewBag.Respuesta.ResultadoEvaluacion.Resultado <br />
            Órden: @ViewBag.Respuesta.Orden ° - Puntos: @ViewBag.Respuesta.Puntos</p>
            @if (@ViewBag.Respuesta.MejorRespuesta == true)
            {
                <span class="badge badge-success">Mejor respuesta!</span>
            }
            else { }

        </div>
    }
</div>

<div>
    <textarea id="Respuesta" readonly>@ViewBag.Respuesta.Respuesta</textarea>
</div>

<a href="/Alumno/VerPreguntasAlumno/@Model.IdAlumno"><button type="button" class="btn btn-danger">Volver</button> </a>

<script>
    CKEDITOR.replace('Respuesta');
</script>