@model TpFinalWeb3.Alumno

@{
    ViewBag.Title = "Bienvenido Alumno";
    Layout = "/Views/Shared/_AlumnosLayout.cshtml";
}


<div class="jumbotron">
    <h2>Bienvenido @Model.Nombre!</h2>
    <p class="lead">
        Debajo vas a encontrar la tabla de posiciones que contabiliza el total de los puntos ganados en las distintas preguntas. <br />
        En la pestaña "PREGUNTAS" podrás ver las preguntas publicadas,
        las cuales deberás responder para sumar puntos; y las preguntas ya respondidas, de las cuales podrás ver
        su corrección
    </p>
</div>

<h3> >Tabla de Posiciones</h3>
<table class="table table-hover">

    @{int posicion = 1; }
    <tr class="table-dark">
        <td> Posición </td>
        <td> Alumno </td>
        <td> Puntos </td>
        <td> Respuestas Bien </td>
        <td class="text-success"> Mejor Respuesta ★</td>
    </tr>
    @foreach (Alumno item in ViewBag.TablaDePosiciones)
    {
        if (item.IdAlumno == Model.IdAlumno)
        {
            <tr class="table-success">
                <td> @posicion </td>
                <td> @item.Nombre @item.Apellido</td>
                <td> @item.PuntosTotales </td>
                <td> @item.CantidadRespuestasCorrectas </td>
                <td> @item.CantidadMejorRespuesta </td>
            </tr>}
        else
        {
            <tr>
                <td> @posicion </td>
                <td> @item.Nombre @item.Apellido </td>
                <td> @item.PuntosTotales </td>
                <td> @item.CantidadRespuestasCorrectas </td>
                <td> @item.CantidadMejorRespuesta </td>
            </tr>
        }
        posicion += 1;
    }
</table>
<br />


<h3> >Ultimas dos preguntas </h3>

<div class="alert alert-dismissible alert-primary">
    @foreach (Pregunta p in ViewBag.DosPreguntas)
    {
        int posicion2 = 0;
        <h4>@p.Nro . @p.Pregunta1</h4>

        <table class="table table-hover">

            @foreach (RespuestaAlumno item in p.RespuestaAlumno)
            {
                posicion2 += 1;

                if (item.IdAlumno == Model.IdAlumno)
                {
                   <tr class="table-success">
                        <td>@posicion2 .</td>
                        <td>@item.Alumno.Nombre @item.Alumno.Apellido</td>
                        <td>+@item.Puntos</td>
                        <td>
                            @if (item.MejorRespuesta is true)
                            {<span class="badge badge-success"> Mejor respuesta</span>}
                        </td>
                    </tr>}
                else
                {
                    <tr class="table-secondary">
                        <td>@posicion2 .</td>
                        <td>@item.Alumno.Nombre @item.Alumno.Apellido</td>
                        <td>+@item.Puntos</td>
                        <td>
                            @if (item.MejorRespuesta is true)
                            {<span class="badge badge-success"> Mejor respuesta</span>}
                        </td>
                    </tr>
                }
            }
        </table>
    }
</div>


<div class="alert alert-dismissible alert-light">
    <h3>
        Preguntas sin responder  
        <a href="/Alumno/VerPreguntasAlumno/@Model.IdAlumno"> <button type="button" class="btn btn-success">  Ver preguntas </button>  </a>
    </h3>

    <table class="table table-hover">

        @foreach (Pregunta item in ViewBag.PreguntasSinRespuesta)
        {
            <tr>
                <td> @item.Nro .  @item.Pregunta1</td>
            </tr>
        }

    </table>
</div>
