@model TpFinalWeb3.Alumno

@{
    ViewBag.Title = "AlumnoIndex";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TpFinal 3</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/Login/AlumnoIndex/@Model.IdAlumno">Inicio</a></li>
            <li><a href="/Alumno/VerPreguntasAlumno/@Model.IdAlumno">Preguntas</a></li>
            <li><a href="/Alumno/AcercaDe">Acerca De</a></li>
            <li><a href="#">Salir</a></li>
        </ul>
    </div>
</nav>

<h2>AlumnoIndex</h2>
<h2>Bienvenido @Model.Nombre</h2>
<table>
    @{int posicion = 1; }
    <tr>
        <td> posicion </td>
        <td> Alumno </td>
        <td> Puntos </td>
        <td> Respuestas Bien </td>
        <td> Mejor Respuesta </td>
    </tr>
    @foreach (Alumno item in ViewBag.TablaDePosiciones)
    {
        <tr>
            <td> @posicion </td>
            <td> @item.Nombre @item.Apellido </td>
            <td> @item.PuntosTotales </td>
            <td> @item.CantidadRespuestasCorrectas </td>
            <td> @item.CantidadMejorRespuesta </td>
        </tr>
        posicion += 1;
    }
</table>
<br />
<h1>Ultimas dos preguntas</h1>

@foreach (Pregunta p in ViewBag.DosPreguntas)
{
    int posicion2 = 0;
    <h3>@p.IdPregunta.@p.Pregunta1</h3>
    foreach (RespuestaAlumno item in p.RespuestaAlumno)
    {
        posicion2 += 1;
<table>
    <tr>
        <td> @posicion2 .</td>
        <td>&nbsp @item.Alumno.Nombre @item.Alumno.Apellido &nbsp</td>
        <td>&nbsp + @item.Puntos &nbsp</td>
        <td> &nbsp @if(item.MejorRespuesta is true){<h5>Mejor Respuesta </h5>}</td>
    </tr>
</table>
    }
}


<h1>Preguntas Sin responder</h1>

@foreach (Pregunta item in ViewBag.PreguntasSinRespuesta)
{
    <a href="#">@item.Pregunta1</a>
    <br />
}
<br />

@Html.Partial("pv_Footer")