@model TpFinalWeb3.Pregunta
@{
    ViewBag.Title = "EvaluarPregunta";
    Layout = "/Views/Shared/_ProfesoresLayout.cshtml";
}

<script src="//cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>

<blockquote class="blockquote">
    <h1>Respuestas</h1>
</blockquote>

<div class="alert alert-dismissible alert-secondary">
    <p>Tema: @Model.Tema.Nombre</p>
    <h2><p class="mb-0">@Model.Pregunta1 </p></h2>
<p>Fecha Desde: @Model.FechaDisponibleDesde <br />
    Fecha Hasta: @Model.FechaDisponibleHasta</p>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Profesor/EvaluarPregunta/@Model.IdPregunta">Todas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Profesor/EvaluarPreguntaFiltroSinCorreguir/@Model.IdPregunta">Sin Corregir</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Profesor/EvaluarPreguntaFiltroCorrecta/@Model.IdPregunta">Correctas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Profesor/EvaluarPreguntaFiltroRegular/@Model.IdPregunta">Regular</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Profesor/EvaluarPreguntaFiltroMal/@Model.IdPregunta">Mal</a>
            </li>
        </ul>
    </div>
</nav>

<br />
<table class="table table-hover">
    <tr class="table-dark">
            <td> Fecha y Hora </td>
            <td> Alumno</td>
            <td> Respuesta </td>
            <td> Evaluar </td>
            <td></td>
        </tr>

    @{ int contador = 1;}
    @foreach (RespuestaAlumno item in ViewBag.respuestasPorId)
    {
        <tr class="table-active">
            <td> @item.FechaHoraRespuesta </td>
            <td> @item.Alumno.Nombre @item.Alumno.Apellido </td>
            <td> @item.Respuesta </td>

            @if (item.IdResultadoEvaluacion == null)
            {
                if (contador == 1)
                {
                    <td> <a href="/Profesor/EvaluarRespuestaMal/@Model.IdPregunta/@item.IdRespuestaAlumno"><span class="badge badge-danger">MAL</span></a>
            <a href="/Profesor/EvaluarRespuestaRegular/@Model.IdPregunta/@item.IdRespuestaAlumno"><span class="badge badge-warning">REGULAR</span></a>
            <a href="/Profesor/EvaluarRespuestaCorrecta/@Model.IdPregunta/@item.IdRespuestaAlumno"><span class="badge badge-success">CORRECTA</span></a> </td>
                    contador++;
                }

            }
            else
            {
                <td>@item.ResultadoEvaluacion.Resultado</td>
            }

            @if ((bool)ViewData["TodasCorregidas"] == true && (bool)ViewData["MejorRespuesta"] == true)
            {
                <td><a href="/Profesor/MejorRespuesta/@Model.IdPregunta/@item.IdRespuestaAlumno">Mejor Respuesta</a></td>
            }
            else
            {
                <td></td>
            }

            @if (item.MejorRespuesta == true)
            {
                <td><span class="badge badge-success">MEJOR RESPUESTA!</span></td>
            }

        </tr>

    }
</table>

    <br />
    @Html.Partial("pv_Footer")
