@model TpFinalWeb3.Pregunta
@{
    ViewBag.Title = "EvaluarPregunta";
    //var totalCorregidas = ViewBag.TodasCorregidas;
}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TpFinal 3</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/Login/ProfesorIndex">Inicio</a></li>
            <li><a href="/Profesor/Preguntas">Preguntas</a></li>
            <li><a href="/Profesor/PreguntasCrear">Crear Preguntas</a></li>
            <li><a href="#">Respuestas</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Salir</a></li>
        </ul>
    </div>
</nav>

<h1>Respuestas</h1>
<br />

<h3>Tema: @Model.Tema.Nombre</h3>
<h2>@Model.Pregunta1</h2>
<h4>Fecha Desde: @Model.FechaDisponibleDesde Fecha Hasta: @Model.FechaDisponibleHasta</h4>
<br /><br />

<a href="/Profesor/EvaluarPregunta/@Model.IdPregunta">Todas </a><a href="/Profesor/EvaluarPreguntaFiltroSinCorreguir/@Model.IdPregunta">Sin Corregir </a><a href="/Profesor/EvaluarPreguntaFiltroCorrecta/@Model.IdPregunta">Correctas </a><a href="/Profesor/EvaluarPreguntaFiltroRegular/@Model.IdPregunta">Regular </a><a href="/Profesor/EvaluarPreguntaFiltroMal/@Model.IdPregunta">Mal </a>
<br /><br />
<table class="table">
    <thead>
        <tr>
            <td> Fecha y Hora </td>
            <td> Alumno </td>
            <td> Respuesta </td>
            <td> Evaluar </td>
            <td></td>
        </tr>
    </thead>
        @foreach (RespuestaAlumno item in ViewBag.respuestasPorId)
        {
<tr>
    <td> @item.FechaHoraRespuesta </td>
    <td> @item.Alumno.Nombre @item.Alumno.Apellido </td>
    <td> @item.Respuesta </td>
    @if (item.IdResultadoEvaluacion == null)
    {
        <td> <a href="/Profesor/EvaluarPreguntaMal">Mal</a>-<a href="/Profesor/EvaluarPreguntaRegular">Regular</a>-<a href="/Profesor/EvaluarPreguntaCorrecta">Correcta</a> </td>

    }
    else
    {
        <td>@item.ResultadoEvaluacion.Resultado</td>
    }

    @if ((bool)ViewData["TodasCorregidas"] == true && (bool)ViewData["MejorRespuesta"] == true)
    {
        <td><a href="/Profesor/MejorRespuesta/@Model.IdPregunta/@item.IdRespuestaAlumno" >Mejor Respuesta</a></td>
    }
    else
    {
        <td>.</td>
    }

    

</tr>

        }
</table>

<br />
@Html.Partial("pv_Footer")