@model TpFinalWeb3.Pregunta
@{
    ViewBag.Title = "ModificarPregunta";
}

<h2>ModificarPregunta</h2>

<form action="/Profesor/ModificarPregunta" method="post">
    Nro:<input type="text" name="Nro" value="@Model.Nro" required /><br />
    Clase:<select name="ListaClases" required>
        @foreach (Clase c in ViewBag.ListaClases)
        {
            <option value="@c.IdClase">@c.Nombre</option>
        }
    </select>
    <br />
    Tema:<select name="ListaTemas" required>
        @foreach (Tema t in ViewBag.ListaTemas)
        {
            <option value="@t.IdTema">@t.Nombre</option>
        }
    </select>
    <br />
    Disponible desde: <input type="datetime" name="FechaDisponibleDesde" value="@Model.FechaDisponibleDesde" /><br />
    Hasta: <input type="datetime" name="FechaDisponibleHasta" value="@Model.FechaDisponibleHasta" /><br />
    Pregunta:<input type="text" name="Pregunta1" value="@Model.Pregunta1" required /><br />
    <input type="submit" name="Modificar" value="Modificar" /><br />
</form>
<a href="/Profesor/Preguntas"><input type="submit" name="Cancelar" value="Cancelar" /></a>



