@model TpFinalWeb3.Pregunta
@{
    ViewBag.Title = "ModificarPregunta";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TpFinal 3</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/Login/ProfesorIndex/">Inicio</a></li>
            <li><a href="/Profesor/Preguntas">Preguntas</a></li>
            <li><a href="/Profesor/PreguntasCrear">Crear Preguntas</a></li>
            <li><a href="#">Respuestas</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Salir</a></li>
        </ul>
    </div>
</nav>

<h2>PreguntasModificar</h2>
<h3>@ViewBag.AvisoRespuestas</h3>

<form action="/Profesor/ModificarPregunta" method="post">
    @Html.ValidationMessageFor(Model => Model.Nro)
    Nro:<input type="text" name="Nro" value="@Model.Nro" required /><br />
    @Html.ValidationMessageFor(Model => Model.Clase)
    Clase:<select name="ListaClases" required>
           <option value="@Model.Clase.IdClase" selected>@Model.Clase.Nombre</option> 
        @foreach (Clase c in ViewBag.ListaClases)
        {
            <option value="@c.IdClase">@c.Nombre</option>
        }
    </select>
    <br />
    @Html.ValidationMessageFor(Model => Model.Tema)
    Tema:<select name="ListaTemas" required>
         <option value="@Model.Tema.IdTema" selected>@Model.Tema.Nombre</option>
        @foreach (Tema t in ViewBag.ListaTemas)
        {
            <option value="@t.IdTema">@t.Nombre</option>
        }
    </select>
    <br />
    Disponible desde: <input type="datetime" name="FechaDisponibleDesde" value="@Model.FechaDisponibleDesde" /><br />
    Hasta: <input type="datetime" name="FechaDisponibleHasta" value="@Model.FechaDisponibleHasta" /><br />
    @Html.ValidationMessageFor(Model => Model.Pregunta1)
    Pregunta:<textarea name="Pregunta1" required">@Model.Pregunta1 </textarea><br />
    <input type="text" name="IdPregunta" value="@Model.IdPregunta" hidden />
    <input type="submit" name="Modificar" value="Modificar" /><br />
</form>
<a href="/Profesor/Preguntas"><input type="submit" name="Cancelar" value="Cancelar" /></a>


@Html.Partial("pv_Footer")