@model TpFinalWeb3.Pregunta
@{
    ViewBag.Title = "Modificar pregunta";
    Layout = "/Views/Shared/_ProfesoresLayout.cshtml";
}


<blockquote class="blockquote">
    <h2>Modificar pregunta</h2>
</blockquote>


<h5 class="text-danger ">@ViewBag.AvisoRespuestas </h5>
<h5 class="text-danger ">@ViewBag.ErrorNro </h5>
<h5 class="text-danger ">@ViewBag.ErrorFechas </h5>
<form action="/Profesor/ModificarPregunta" method="post">
    <fieldset>

        <div class="form-group">
            <label>Número pregunta</label>
            @Html.ValidationMessageFor(Model => Model.Nro)
            <input type="text" name="Nro" value="@Model.Nro" required class="form-control" placeholder="Numero">
        </div>
        <div class="form-group">
            <label>Clase</label>
            @Html.ValidationMessageFor(Model => Model.Clase)
            <select class="form-control" name="ListaClases" required>
                <option value="@Model.Clase.IdClase" selected>@Model.Clase.Nombre</option>

                @foreach (Clase c in ViewBag.ListaClases)
                {
                    <option value="@c.IdClase">@c.Nombre</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Tema</label>
            @Html.ValidationMessageFor(Model => Model.Tema)
            <select class="form-control" name="ListaTemas" required>
                <option value="@Model.Tema.IdTema" selected>@Model.Tema.Nombre</option>
                @foreach (Tema t in ViewBag.ListaTemas)
                {
                    <option value="@t.IdTema">@t.Nombre</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Disponible desde</label>
            <input type="datetime" name="FechaDisponibleDesde" value="@Model.FechaDisponibleDesde" class="form-control">
        </div>

        <div class="form-group">
            <label>Disponible hasta</label>
            <input type="datetime" name="FechaDisponibleHasta" value="@Model.FechaDisponibleHasta" class="form-control">
        </div>

        @Html.ValidationMessageFor(Model => Model.Pregunta1)
        <div class="form-group">
            <label>Pregunta </label>
            <textarea class="form-control" name="Pregunta1" required" rows="3">@Model.Pregunta1 </textarea>
        </div>
        <input type="text" name="IdPregunta" value="@Model.IdPregunta" hidden />

        <button type="submit" class="btn btn-warning">Modificar</button>

    </fieldset>
</form>
<br />
<a href="/Profesor/Preguntas">
    <button type="submit" class="btn btn-danger">Cancelar</button>
</a>


