@model TpFinalWeb3.Pregunta
@{
    ViewBag.Title = "ModificarPregunta";

}


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TpFinal 3</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/Login/ProfesorIndex">Inicio</a></li>
            <li><a href="/Profesor/Preguntas">Preguntas</a></li>
            <li><a href="/Profesor/PreguntasCrear">Crear Preguntas</a></li>
            <li><a href="#">Respuestas</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Salir</a></li>
        </ul>
    </div>
</nav>

<h2>ModificarPregunta</h2>



<form action="/Profesor/ModificarPregunta" method="post">
    Nro:<input type="number" name="Nro" value="@Model.Nro" /><br />
    Clase:<select name="ListaClases">
        @foreach (Clase c in ViewBag.ListaClases)
        {
            <option value="@c.IdClase">@c.Nombre</option>
        }
    </select>
    <br />
    Tema:<select name="ListaTemas">
        @foreach (Tema t in ViewBag.ListaTemas)
        {
            <option value="@t.IdTema">@t.Nombre</option>
        }
    </select>
    <br />
    Disponible desde: <input type="datetime" name="FechaDisponibleDesde" value="@Model.FechaDisponibleDesde" /><br />
    Hasta: <input type="datetime" name="FechaDisponibleHasta" value="@Model.FechaDisponibleHasta" /><br />
    Pregunta:<input type="text" name="Pregunta1" value="@Model.Pregunta1" required /><br />
    <input type="hidden" name="idPregunta" value="@Model.IdPregunta" />
    <input type="submit" name="Guardar" value="Guardar" /><br />
</form>
<a href="/Profesor/Preguntas"><input type="submit" name="Cancelar" value="Cancelar" /></a>
