@model TpFinalWeb3.Helpers.Paginador<Pregunta>
@{
    ViewBag.Title = "Preguntas";
    Layout = "/Views/Shared/_ProfesoresLayout.cshtml";
}


<blockquote class="blockquote">
    <h1>Preguntas</h1>
</blockquote>

<blockquote class="blockquote text-right">
    <a href="/Profesor/PreguntasCrear"><button type="button" class="btn btn-success"> Crear Pregunta</button></a>
</blockquote>

<h3>
    @ViewBag.MensajeError
</h3>


    <table class="table table-hover">
        <tr class="table-dark">
            <td> Nro </td>
            <td> Clase </td>
            <td> Tema </td>
            <td> Pregunta </td>
            <td> Fecha Desde </td>
            <td> Fecha Hasta </td>
            <td> Evaluar </td>
            <td> Eliminar </td>
        </tr>
        @foreach (Pregunta item in Model.Resultado)
        {
            <tr class="table-active">
                <td> @item.Nro</td>
                <td> @item.Clase.Nombre </td>
                <td> @item.Tema.Nombre </td>
                <td> <a href="/Profesor/ModificarPregunta/@item.IdPregunta">@item.Pregunta1 </a></td>
                <td> @item.FechaDisponibleDesde </td>
                <td> @item.FechaDisponibleHasta </td>
                <td> <a href="/Profesor/EvaluarPregunta/@item.IdPregunta">
                         <span class="badge badge-info">✓</span> </a> </td>
                <td> <a href="/Profesor/EliminarPregunta/@item.IdPregunta"> 
                    <span class="badge badge-danger">X</span></a> </td>
            </tr>
        }
    </table>

    <blockquote class="blockquote text-center">

        @if (Model.Resultado.Count() > 0)
        {
            <span>
                <strong>@Model.TotalRegistros</strong> registros encontrados
            </span>
            <span>&nbsp;|&nbsp;</span>
            <span>
                Página <strong>@(Model.PaginaActual)</strong> de
                <strong>@Model.TotalPaginas</strong>
            </span>
            <span>&nbsp;|&nbsp;</span>
        }
        else
        {
            <span>No hay resultados para esta búsqueda</span>
            <span>&nbsp;|&nbsp;</span>
        }

        @if (Model.PaginaActual > 1)
        {
            @Html.ActionLink("<<", "Preguntas", new { pagina = 1 },
                            new { @class = "btn btn-sm btn-default" })
            <span></span>
            @Html.ActionLink("Anterior", "Preguntas", new { pagina = Model.PaginaActual - 1 },
                            new { @class = "btn btn-sm btn-default" })
        }
        else
        {
            @Html.ActionLink("<<", "Preguntas", new { pagina = 1 },
                            new { @class = "btn btn-sm btn-default disabled" })
            <span></span>
            @Html.ActionLink("Anterior", "Preguntas", new { pagina = 1 },
                            new { @class = "btn btn-sm btn-default disabled" })
        }
        <span></span>
        @if (Model.PaginaActual < Model.TotalPaginas)
        {
            @Html.ActionLink("Siguiente", "Preguntas", new { pagina = Model.PaginaActual + 1 },
                            new { @class = "btn btn-sm btn-default" })
            <span></span>
            @Html.ActionLink(">>", "Preguntas", new { pagina = Model.TotalPaginas },
                            new { @class = "btn btn-sm btn-default" })
        }
        else
        {
            @Html.ActionLink("Siguiente", "Index", new { pagina = Model.TotalPaginas - 1 },
                            new { @class = "btn btn-sm btn-default disabled" })
            <span></span>
            @Html.ActionLink(">>", "Index", new { pagina = Model.TotalPaginas },
                            new { @class = "btn btn-sm btn-default disabled" })
        }

        </blockquote>
