@model TpFinalWeb3.Pregunta
@{
    ViewBag.Title = "PreguntasCrear";
    Layout = "/Views/Shared/_ProfesoresLayout.cshtml";
}


<blockquote class="blockquote">
    <h1>Preguntas</h1>
</blockquote>


<form action="/Profesor/PreguntasCrear" method="post">
    <fieldset>

        <div class="form-group">
            <label>Número pregunta</label>
            @Html.ValidationMessageFor(Model => Model.Nro)
            <input type="text" name="Nro" value="@ViewBag.NroPregunta" required class="form-control" placeholder="Numero">
        </div>
        <div class="form-group">
            <label>Clase</label>
            @Html.ValidationMessageFor(Model => Model.Clase)
            <select class="form-control" name="ListaClases" required>
                    @foreach (Clase c in ViewBag.ListaClases)
                    {
                        <option value="@c.IdClase">@c.Nombre</option>
                    }
            </select>
        </div>

        <!-- @Html.ValidationMessageFor(Model => Model.Nro)
    Nro:<input type="text" name="Nro" value="@ViewBag.NroPregunta" required /><br />
            @Html.ValidationMessageFor(Model => Model.Clase)
        Clase:<select name="ListaClases" required>
            @foreach (Clase c in ViewBag.ListaClases)
            {
                <option value="@c.IdClase">@c.Nombre</option>
            }
        </select>
        <br /> 
            -->
       
        @Html.ValidationMessageFor(Model => Model.Tema)
        Tema:<select name="ListaTemas" required>
            @foreach (Tema t in ViewBag.ListaTemas)
            {
                <option value="@t.IdTema">@t.Nombre</option>
            }
        </select>
        <br />
        Disponible desde: <input type="datetime" name="FechaDisponibleDesde" value="" /><br />
        Hasta: <input type="datetime" name="FechaDisponibleHasta" value="" /><br />
        @Html.ValidationMessageFor(Model => Model.Pregunta1)
        Pregunta:<textarea name="Pregunta1" required"> </textarea><br />
        <input type="submit" name="Crear" value="Crear" /><br />

    </fieldset>
</form>
<a href="/Profesor/PreguntasCrear"><input type="submit" name="Cancelar" value="Cancelar" /></a>


@Html.Partial("pv_Footer")
